<h1>Welcome to Charlotte Mecklenburg Library, <%= @user.first_name %></h1>
    <p>
      Your request for the Library card has been approved. Your username is email and password is last 4 digits of your phone number.
    </p>
  
    <p>Thanks you and have a great day!</p>