<h1>Welcome to Charlotte Mecklenburg Library, <%= @user.first_name %></h1>
    <p>
      Your request for the Library card has been approved. You will be receiving the card by post within 5 working days.
    </p>
  
    <p>Thanks you and have a great day!</p>