<h1>Welcome to Charlotte Mecklenburg Library, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up for the library card. You will receive an email regarding the status of your application soon.
    </p>
  
    <p>Thanks for joining and have a great day!</p>