<div class="Divforall">
<h3 class="H3">New Library Users in last 12 months = 65,124</h3>


<!--White Block-->
<div class="White-Block">
<div class="container-fluid">
<div class="row">
<div class="col-lg-12 Border-Bottom"><img src="<%= asset_path 'Graphup111.jpg' %>" style="max-width:100%;" alt=""></div>
<div class="col-lg-12"><img src="<%= asset_path 'Graphup22.jpg' %>" style="max-width:100%" alt=""></div>
</div>
</div>

</div>
<!--White Block End-->

</div>