<h2 class="H1 text-center pb-3">Forgot you password ? </h2>
<div class="login-form">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: 'btn btn-primary blue-button btn-block' %>
  </div>
<% end %>
  <div class="text-center py-2">
    <a href="/admins/sign_in">Login</a>
  </div>

  <div class="text-center py-2">
    <a href="/admins/sign_up">Sign up </a>
  </div>

</div>

