<!--Top Bar-->
<div class="Topbar">
  <div class="Divforall">

    <div class="container-fluid">
      <div class="row Margin-none">

        <div class="col-sm-3 Padding-None"><img src="<%=asset_path('logo.png')%>" width="221" height="62" alt=""></div>


      </div>
    </div>

  </div>
</div>
<!--Top Bar End-->